.infoCard {
  height: auto;

}

/* background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);*/
/*i {
  /* color: #1A222D;* /
  filter: invert(0.9);
  mix-blend-mode: color-burn;
}*/


/*dialog*/
.dialog-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  z-index: 11100;
  animation: p-component-overlay-enter-animation 150ms forwards;
}
.dialog {
  width: 70%;
  z-index: 11101;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  max-height: 90%;
  transform: scale(1);
  position: relative;
  border-radius: 6px;
  border: 0 none;

}

.btn-close {
  font-size: 0.8rem;

}
.add-button {
  position: absolute;
  left: 24px;
  bottom: 24px;
      z-index: 1021;
}
/*p-confirm-popup-icon*/
/*not work*/
:host ::ng-deep.p-confirm-popup :host ::ng-deep.p-confirm-popup-icon {
  color: #EF4444 !important;
    font-size: 1rem !important;
    margin-left: 0.5rem !important;
}
