<div class="row mt-3">
  <h2>
    <i class="bi bi-ui-checks m-1"></i>
    משימות
  </h2>
  <div>
<div style=" position: relative">
<!--<div class="row mt-3">
  <app-info-card></app-info-card>
</div>-->

<app-tasks  (editTask)="edit($event)"></app-tasks>


<!--<button type="button" (click)="showDialog()" pButton icon="pi pi-info-circle" label="Show22"></button>-->
<button  (click)="Show()"  pButton pRipple type="button" icon="pi pi-plus
" class="p-button-rounded add-button"></button>

<div *ngIf="show ==true" class="dialog-mask">
  <div class="dialog ">
    <div class="card m-5 p-5 ">
      <div class="card-title">
        <button type="button" class="btn-close float-start" (click)="Show()" aria-label="Close"></button>
      </div>
      <div class="card-text">
        <app-add-task [editTask]="editT" (closePopUp)="Show()"></app-add-task>

    </div>
    </div>
  </div>
</div>
</div>
<p-toast position="top-left"></p-toast>
   <p-confirmPopup ></p-confirmPopup>


