.label {
  font-weight: bolder;
  background-color: #f8f9fa !important;
  padding: 0.3rem;
  font-size: 0.9rem;
  border-radius: 0.5rem;
}
:host ::ng-deep.p-colorpicker-preview{
  border-radius: 50px;
}
.labelName{
      display: inline-block;
        font-weight: 700;
        margin: 1rem;
}
/*
.continar{
      display: contents;
        align-items: center;
        justify-content: center;
}*/
:host ::ng-deep.p-disabled{
  opacity: 1 !important;
}
/*.color-picker*/

.color-picker{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.color-picker::-webkit-color-swatch {
  border-radius: 50px;
  border: 1px solid #ced4da;
}

.color-picker::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}

 input[type=text] {
   padding: 6px;

   font-size: 17px;
   border: none;
 }
