<div class="row p-3">
  <h2 class="col-6">
    <i class="bi bi-tags m-1"></i>
    תוויות
  </h2>
  <p-button class="text-start col-6" label="הוסף תווית" (click)="addMode=true" [disabled]="addMode!=false"></p-button>
</div>
<div *ngIf="addMode !=false" class="row m-3 label">
  <div class="col-6 continar">
    <input class="color-picker" type="color" [(ngModel)]="addLabel.color">
    <input type="text" [(ngModel)]="addLabel.name" />
  </div>
  <div class="col-6 text-start">
  <button pButton pRipple type="button" icon="bi bi-trash3-fill" class="p-button-rounded p-button-danger p-button-text"
    (click)="cancel()"></button>
  <button pButton pRipple type="button" icon="bi bi-check2"
    class="p-button-rounded p-button-success  p-button-text"(click)="add()"></button>
    </div>
</div>
<div *ngFor="let label of labels" class="row m-3  label">

  <ng-container *ngIf="editMode!=label.id">

    <div class="col-6 continar">
      <input class="color-picker" type="color" [(ngModel)]="label.color" disabled>
      <!--<p-colorPicker [(ngModel)]="label.color" let a=false format="hex" [disabled]="editMode!=label.id"></p-colorPicker>-->
      <p class="labelName">{{label.name}} </p>
    </div>

    <div class="col-6 text-start">
      <button pButton pRipple type="button" icon="bi bi-pencil-fill"
        class="p-button-rounded p-button-secondary p-button-text" (click)="edit(label)" [disabled]="addMode!=false"></button>
      <button pButton pRipple type="button" icon="bi bi-trash3-fill"
        class="p-button-rounded p-button-danger  p-button-text" (click)="delete(label.id)" [disabled]="addMode!=false"></button>
    </div>
  </ng-container>

  <ng-container *ngIf="editMode==label.id">

    <div class="col-6 continar">
      <input class="color-picker" type="color" [(ngModel)]="editLabel.color"
        style="  margin-top: 1rem;margin-bottom: 1rem;">
      <input type="text" pInputText [(ngModel)]="editLabel.name" />

    </div>
    <div class="col-6 text-start">
      <button pButton pRipple type="button" icon="bi bi-arrow-return-right"
        class="p-button-rounded p-button-danger p-button-text" (click)="cancel()"></button>
      <button pButton pRipple type="button" icon="bi bi-check2" class="p-button-rounded p-button-success  p-button-text"
        (click)="update()"></button>

    </div>
  </ng-container>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
