<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">ITask</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>-->
<!--
<p-menubar [model]="items">
<button pButton pRipple type="button" icon="pi pi-user"
  class="p-button-rounded p-button-secondary  p-button-outlined p-button-sm"></button>

</p-menubar>-->
<p-megaMenu >
<div class="logo" style="display:inline-block;float: inline-end;">
  <!--<img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" />-->
  <a class="navbar-title" href="#">ITask</a>
</div>
<div class="logo" style="display:inline-block;margin-right: 5rem;">

  <button pButton pRipple type="button" icon="pi pi-user"
    class="p-button-rounded p-button-secondary  p-button-outlined p-button-sm"></button>
</div>

</p-megaMenu>



