.navbar-light{
      height: 10vh;
      }
:host ::ng-deep .p-megamenu-end {
    width: 100%;
}
.navbar-title{
  color: rgba(0, 0, 0, .9);
    padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;
      margin-right: 1rem;
      margin-left: 3rem;
      font-size: 1.25rem;
      text-decoration: none;
      white-space: nowrap;
}

