<div class="row">
  <div class="card col-9  m-3 mx-auto p-5 ">

    <label for="Name" class="form-label col-12">שם</label>
      <input id="Name" type="text" class="m-1 col-lg-6" pInputText [(ngModel)]="user.name" />
<label for="lastName" class="form-label col-12">משפחה</label>
<input id="lastName" type="text" class="m-1 col-lg-6" pInputText [(ngModel)]="user.last_name" />
<label for="email" class="form-label col-12">מייל</label>
<input id="email" type="text" class="m-1 col-lg-6" pInputText [(ngModel)]="user.email" />
<label for="phone" class="form-label col-12">טלפון</label>
<input id="phone" type="text" class="m-1 col-lg-6" pInputText [(ngModel)]="user.phone" />
<label for="pass" class="form-label col-12">סיסמה</label>
<input id="pass" type="text" class="m-1 col-lg-6" pInputText [(ngModel)]="user.password" />

      <div class="text-start">
        <button (click)="onSubmit()" type="submit" class="btn btn-primary col-3 my-3">שמור</button>
      </div>
  </div>
</div>
