<!--<div class="row mt-3">
  <h2>
    <i class="bi bi-tags m-1"></i>
    תוויות
  </h2>
  <div>-->
<div class="row mt-5">
  <div class="card col-6 mx-auto tableCard p-0">
    <app-labels></app-labels>
</div>
</div>
