<div class="row mt-3">
  <div class=" col-11 mx-auto tableCard p-0">
    <div class="table-responsive">
      <p-table #dt [value]="tasks" dataKey="id" [globalFilterFields]="['id','name','user_name','description']"
        [loading]="loading" [paginator]="true" [rows]="rows" [showFirstLastIcon]="false" [alwaysShowPaginator]="false"
        [rowsPerPageOptions]="rowsPerPageOptions" [(first)]="first"
        [tableStyle]="{ 'min-width': '60rem', 'width': '100%' }">
        <ng-template pTemplate="caption">
          <div class="table-header">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                placeholder="חיפוש ..." />
            </span>

           <!-- <div class="card-group mx-auto mt-1">
              <div class=" card rounded-1 mx-2" *ngFor="let item of infoCard">
                <div class="row p-0 info-card ">
                <div class="col-3 text-center"[style.background-color]=item.color>

                    <i class="pi {{ item.icon }} text-lg opacity-10 iconCard" aria-hidden="true"[style.color]=item.textColor></i>

                </div>
                <div class="col-6 p-2">
                  <span class="textCard text-lg m-1" >{{item.text}}</span>

                  <strong class="textCard ">{{item.data}}</strong>

                </div>
                </div>
              </div>

            </div>
          -->


<div class="card-group mx-auto mt-1">
  <div class=" card rounded-1 mx-2" *ngFor="let item of infoCard">
    <div class="row p-0 info-card " >

      <div class="col-3 text-center" [style.background-color]=item.color>
        <i class="pi {{ item.icon }} text-lg opacity-10 iconCard" aria-hidden="true" [style.color]=item.textColor></i>
      </div>
      <div class="col-9 p-2">
        <span class="textCard m-1">{{item.text}}</span>

        <strong class="textCard ">{{item.data}}</strong>
      </div>
      </div>

  </div>

</div>



          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id" style="width: 5rem">
              # <!--<p-sortIcon field="id"></p-sortIcon>-->
            </th>
            <th pSortableColumn="user_name">
              אחראי
              <p-sortIcon field="user_name"></p-sortIcon>
            </th>
            <th pSortableColumn="name">
              משימה <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="labels">
              תוויות <p-sortIcon field="labels"></p-sortIcon>
            </th>
            <th pSortableColumn="due_date">
              תאריך <p-sortIcon field="due_date"></p-sortIcon>
            </th>
            <th pSortableColumn="completed">
              סטטוס <p-sortIcon field="completed"></p-sortIcon>
            </th>
            <th style="width: 5rem"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-task let-expanded="expanded">
          <tr>
            <td>{{ task.id }}</td>
            <td>
              <p-avatar label={{task.user_name.charAt(0)}} styleClass="mr-2"
                [style]="{'background-color': '#64748B', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <span class="userName">{{task.user_name }}</span>
            </td>
            <td>{{ task.name }}</td>
            <td>
              <div *ngFor="let i of labelList" class="tag">
                <p-tag *ngIf="task.labels.includes(i.id)" styleClass="mr-2" [style]="{'background-color': i.color}"
                  value={{i.name}}></p-tag>
              </div>
            </td>
            <td>
              <h6>{{ task.due_date | date:'d/M/yy'}}</h6>
              <small>{{ task.due_date | date:'H:mm '}}</small>
            </td>
            <td>
              <p-tag *ngIf="task.completed==null" styleClass="mr-2"
                [style]="{'background-color':'#FAE9F4','color':'#A05777' }">ממתין</p-tag>

              <p-tag *ngIf="task.completed==false" styleClass="mr-2"
                [style]="{'background-color':'#FFEFDF','color':'#A16051' }">בטיפול</p-tag>
              <p-tag *ngIf="task.completed==true" styleClass="mr-2"
                [style]="{'background-color':'#DCF7EE','color':'#41695F' }">בוצע</p-tag>
            </td>

            <td>
              <button type="button" pButton pRipple [pRowToggler]="task"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-task>
          <tr class="fullTask">
            <td></td>
            <td colspan="2">
              <div class="description">
                <small>פירוט :</small>
                <p>
                  {{task.description}}
                </p>
              </div>
            </td>
            <td>
              <p *ngIf="task.completed" class="text-start">תאריך ביצוע :</p>
              <p *ngIf="!task.completed" class="text-start">תאריך יצירה :</p>
            </td>
            <td>
              <h6 class="m-1">{{task.prod_date | date:'M/d/yy'}}</h6>
              <small>{{task.prod_date | date:'h:mm'}}</small>
            </td>
            <td>
              <button pButton pRipple type="button" icon="bi bi-pencil-fill"
                class="p-button-rounded p-button-secondary p-button-text" (click)="edit(task)"></button>
              <button pButton pRipple type="button" icon="bi bi-trash3-fill"
                class="p-button-rounded p-button-danger  p-button-text" (click)="delete($event ,task.id)"></button>


            </td>
            <td></td>
          </tr>
        </ng-template>
      </p-table>
      <!--
  <div class="mb-3">
      <p-button type="button" icon="pi pi-chevron-right" (click)="prev()" [disabled]="isFirstPage()"
        styleClass="p-button-text"></p-button>
      <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
      <p-button type="button" icon="pi pi-chevron-left" (click)="next()" [disabled]="isLastPage()"
        styleClass="p-button-text"></p-button>
        <p-avatar [label]="currentPage()" styleClass="mr-2"
          [style]="{'background': '#EFF6FF', 'color': '#1D4ED8','border-color':'#ffffff','min-width':'3rem','min-height':'3rem'}" shape="circle"></p-avatar>
  </div>
-->
      <!--
<div class="row">
<div class="col-10 p-1">
<p-paginator   (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="tasks.length"
  [showPageLinks]="true" [showFirstLastIcon]="false" [showCurrentPageReport]="true">
</p-paginator>
</div>
<div class="col-2" style="vertical-align: bottom;">
<p-dropdown class="" [options]="rowsPerPageOptions" [(ngModel)]="rows"></p-dropdown>
</div>
</div>
</div>
-->

    </div>
  </div>
  <p-confirmPopup></p-confirmPopup>
