thead {
  background-color: #F7FCFC;
}

.tableCard {
  /*height:60vh;*/
  /* height: 60vh;*/
  overflow: auto;
}

.table-responsive::-webkit-scrollbar {
  width: 5px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #1A222D;
  border-radius: 15px;
  border: 0.5px solid #f5f8ff;
}

.table-responsive::-webkit-scrollbar-track {
  background: transparent;
}

:host ::ng-deep.p-datatable-header {
  background: transparent !important;
  border: 0px;
  /*border: solid #dee2e6;
    border-width: 0px 0px 1px 0px;*/
}

.userName {
  background-color: #CCD6E0;
  padding: 2px;
  font-size: 0.9rem;
  color: white;
  border: #64748B 0.8px;
  border-radius: 0.8rem;
  border-width: 1px;
}

.tag {
  display: inline-block;
  margin: 1px;
}

:host ::ng-deep.p-tag-value {
  filter: invert(0.9);
  mix-blend-mode: color-burn;
}

.table>:not(caption)>*>* {
  border-bottom-width: 0px;
  border-top-width: 1px;
}

.moreDetails td {
  border-top-width: 0px !important;
}

.description {
  font-weight: bolder;
  background-color: #f8f9fa !important;
  padding: 0.3rem;
  font-size: 0.9rem;
  border-radius: 0.5rem;
}

.fullTask td {
  background-color: #DAE3F3;
}

/*page link icon*/
:host ::ng-deep.pi-angle-right:before {
  content: "\e931";
}

:host ::ng-deep.pi-angle-left:before {
  content: "\e932";
}

/**/
:host ::ng-deep p-dropdown {
  margin-right: auto;
}

:host ::ng-deep.p-paginator-bottom {
  background: transparent !important;

}

:host ::ng-deep.p-dropdown-label {
  padding-right: 12px !important;
  padding-left: 3px !important;
}

.info-card {
  min-width: 145px;
  min-height: 50px;
}

.textCard,
.iconCard {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

strong.textCard {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600 ;
}

span.textCard {
color: rgb(100, 116, 139 );
font-weight: 400;
}
