
<div class="container row col-12" >

<!--<div class="login-bg">   -->
<div class="col-lg-4 col-md-6  col-10 mx-auto p-3 login-card">
    <div class="card col-12 border-light mb-3 pb-3 text-end">
        <div class="card-header bg-transparent  text-light">התחבר</div>
           <div class="card-body text-light">
             <form>
             <div class="form-floating mb-3">
                <input [(ngModel)]="authInfo.Email"  name="name"  type="text" class="form-control" id="floatingInput" placeholder="שם" >
                <label for="floatingInput">Name</label>
              </div>
               <div class="form-floating">
                <input [(ngModel)]="authInfo.Password" type="password" name="pas"  type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
                </div>
             <button id="btn-login" (click)="checkUser()" type="submit"  class="btn btn-outline-light col-12 my-3">שלח</button>
            </form>
           </div>
        <div class="card-footer bg-transparent  h-50 ">  </div>
      </div>
    </div>


  </div>
<!--</div>-->



<!--התראה שם/סיסמה לא נכונים-->
<!--
<div class="position-fixed bottom-0 end-0 p-3 " style="z-index: 11 ;">
  <div id="liveToast" class="toast text-end border-0 border-start-5 border-danger text-danger"[ngClass]="{show:toastshow}"  role="alert" aria-live="assertive" aria-atomic="true">
    <div class="progress " style="height: 3px;">
      <div class="progress-bar bg-danger" role="progressbar" [style.width]="tWidth"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="toast-header text-danger  ">

      <-!--<img src="..." class="rounded me-2" alt="...">-!->
      <svg class="bi flex-shrink-0 me-2  me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
      <strong class="me-auto">ההתחברות נכשלה</strong>
       <-!--<small>11 mins ago</small>-!->
      <button type="button" class="btn-close " data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      פרטי ההתחברות שגויים
    </div>
  </div>
</div>
<!-?-סימן האזהרה של bootstrap-?->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path
      d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
  </symbol>
</svg>
-->

