.card ,input{
    /*background-color: rgba(255, 255, 255, 0.55);*/
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    }
    .card{max-height: 373.200px;}
    .card-header{
        line-height: 4rem ;
        font-family: "Assistant", Sans-serif;
        font-weight: bold;
        font-size: 2rem;
    }
    .form-control:focus {
        color: white;
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0, 0.8); 
       border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }
    .btn-outline-light {
        font-family: "Assistant", Sans-serif;
        font-weight: bold;
        font-size: 1.3rem;
    }
    .btn-outline-light:hover {
        background-color: rgb(0,0,0);
        color: rgba(0,0,0, 0.6);
        background-color: rgba(248, 249, 250, 0.8);
        border-color: #f8f9fa;
    }
    /*toast*/
    #liveToast{
        /*border-left: #dc3545 solid 5px !important;*/
        transition: border 3s;
    }
    #liveToast:hover{
        border-top: #dc3545 solid 5px !important;
    
    }
    /*---------------*/
  
    .login-bg{
        background-image: url('../../../assets/login-bg.webp')  ;
      /* filter: blur(8px);
        -webkit-filter: blur(8px);*/
        background-size: cover;
        background-repeat: no-repeat;
        height: 99vh;
        font-family: 'Numans', sans-serif;
        padding-top: 15vh; }
    
.bg{
    position: absolute;
    z-index: 1;
    display: inline-block;
}
.login-card{
    z-index: 2;
}