body{
   /* background-color: rgb(248, 249, 250) !important;*/
/*  background-color: #ECF2F7 !important; #DCE7F0*/
background-color: #ECF2F7 !important;
   overflow-x: auto;
     /* overflow-y: auto;*/
  min-height: 97vh;

}

app-navbar{
    padding: 0;
}
.text-body {
  color: #67748e !important;
}


.mb-0 {
  margin-bottom: 0 !important;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
  font-weight: 600;
}

.h6,
h6 {
  font-size: 1rem;
  line-height: 1.625;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
