<header>
</header>
<body class="p-0">
  <div class="container-fluid " >
    <div class="row">
    <app-navbar></app-navbar>
  </div>
    <div class="row" >
       <div class="col-1 " >
              <app-sidebar class></app-sidebar>
        </div>
        <div class="col-11 p-0" >
          <router-outlet></router-outlet>
        </div>

  </div>
</div>
</body>
<footer>
  <div class="container-fluid">
    <div class="row mt-3">
<p-toast position="top-left"></p-toast>

    </div>
  </div>
</footer>


