
  <div class="row">
    <div class="col-md-6">

      <label for="taskName" class="form-label col-12">משימה</label>
      <input id="taskName" type="text" class="m-1 col-lg-6" pInputText [(ngModel)]="task.name" />
      <label for="date" class="form-label col-12">תאריך יעד</label>
      <p-calendar id="date" [(ngModel)]="task.due_date" class="m-1 col-lg-6"   dateFormat="dd/mm/yy " [showTime] =true hourFormat="24" ></p-calendar>



      <label for="labels" class="form-label col-12">תוויות </label>
      <div id="labels" class="p-inputtext m-1 labels" (click)="bool=true">
        <div *ngIf="selectedLabels.length === 0" class="country-placeholder">הוסף תוויות</div>
        <div *ngFor="let i of selectedLabels" style="display: inline-block;margin: 1px;">
          <p-tag  styleClass="mr-2" [style]="{'background-color': i.color}"
            value={{i.name}} icon="pi pi-times" (click)="RemoveLabel(i)"></p-tag>
        </div>
      </div>

      <div *ngIf="bool; then thenBlock "></div>
      <ng-template #thenBlock>
        <div class="card col-12 p-1" (mouseleave)="bool=false">
          <div style="display: flex;">
            <div *ngFor="let i of labelList">
              <p-tag styleClass="mr-2" class="m-1" [style]="{'background-color': i.color}" value={{i.name}}
                (click)="AddLabel(i)"></p-tag>
            </div>
          </div>
        </div>
      </ng-template>


    </div>
    <div class="col-md-6">
   <label for="description" class="form-label col-12">פירוט</label>
   <textarea [(ngModel)]="task.description"  id="description"pInputTextarea ></textarea>

    </div>
      <div class="text-start">
        <button (click)="onSubmit()" type="submit" class="btn btn-primary col-3 my-3">שמור</button>
      </div>
  </div>


