.p-calendar{
  direction:ltr !important;
}
.p-multiselect-label-container {
  display: flex;
}
:host ::ng-deep.p-tag-value {
  filter: invert(0.9);
  mix-blend-mode: color-burn;
}
:host ::ng-deep .pi-times:before{
  filter: invert(0.9);
    mix-blend-mode: color-burn;
    margin-left: 0.3rem;
}
:host ::ng-deep.p-tag .p-tag-icon{
margin-right: 0;
}
.labels{
      height: 50px;
        min-width: 13rem;
        overflow: auto;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu[data-bs-popper] {
  right: 50% !important;
}

