<div class="row p-2">
  <div class="col-8">

    <div class="card  tableCard p-0">
      <p-table [value]="users" class="col-12 " [tableStyle]="{'min-width': '30rem','width':'100%'}">
        <!--<ng-template pTemplate="caption">
          משתמשים
        </ng-template>-->
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>שם </th>
            <th>מייל</th>
            <th>פלאפון</th>
            <th>הגדר כמנהל </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-columns="columns">
          <tr (click)="showUser(user.id)">
            <td style="text-align:right !important">
              <p-avatar label={{user.name.charAt(0)}} styleClass="mr-2"
                [style]="{'background-color': '#64748B', 'color': '#ffffff'}" shape="circle"></p-avatar>
              <span class="userName">{{user.name}} {{user.last_name }}</span>
            </td>
            <td>{{user.email}}</td>
            <td>{{user.phone }}</td>
            <td>
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                [checked]="isAdmin(user.role)">

            </td>
            <!-- <td><span
            [class]="'user-badge status-' + (user.inventoryStatus ? user.inventoryStatus.toLowerCase() : '')">{{user.inventoryStatus}}</span>
        </td>
        <td><p-rating [ngModel]="user.rating" [readonly]="true" [cancel]="false"></p-rating></td>
      -->
          </tr>
        </ng-template>
      </p-table>
    </div>


  </div>
  <div class="col-4 p-0" *ngIf="user != undefined">
    <div class="card">
      <div class="row">
        <div class="col-12 pt-3" style="text-align: center;">
          <p-avatar label={{user.name.charAt(0)}} styleClass="mr-2"
            [style]="{'background-color': '#64748B', 'color': '#ffffff','display':'block','margin':'auto'}"
            shape="circle"></p-avatar>
          <span class="userName">{{user.name}} {{user.last_name }}</span>
        </div>
        <div class="col-12 ">
          <!-- <app-user-times-chart [userTasks]="userT"></app-user-times-chart>-->
          <p-chart type="pie" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>

        </div>

        <p-divider></p-divider>
      </div>
      <div class="row">
<app-timeline [userTasks]="userTasks"></app-timeline>

      </div>
    </div>
  </div>
