
.tableCard {
  /*height:60vh;*/
  /* height: 60vh;*/
  overflow: auto;
}
thead {
    position: absolute;
}
:host ::ng-deep.p-datatable-thead>tr>th {
  text-align: right !important;
}

.userName {

  background-color: #CCD6E0;
  padding: 2px;
  font-size: 0.9rem;
  color: white;
  border: #64748B 0.8px;
  border-radius: 0.8rem;
  border-width: 1px;
}
