<div class="row p-0 m-0 container">
    <nav class="navbar p-0 ">
        <ul class="navbar-nav ms-auto p-0">
            <li  *ngFor="let item of sideBarButton" class="col-12 nav-item text-end">
<button class=" btn w-100 text-center" (click)="navigate(item.navigate)" pTooltip={{item.text}}>
                  <!--   <button class=" btn w-100"  routerLink="{{item.herf}}"> -->
                    <i class="pi {{item.icon}} m-1"></i>
                 <!--   <span>{{item.text}}</span>-->
                </button>
            </li>
        </ul>
       </nav>
</div>
