/*.sidebar-bg {
    background-image: linear-gradient(310deg,#7928ca,#ff0080);
    height: 90vh !important;
    border-radius: 0.75rem;

}*/
.container{
    display: flex;
      height: 100%;
      min-height: 90vh;
}
.navbar{
    background-color:#1A222D ;
    color: white;
    max-height: 100%;
    overflow-y: auto;
    display:initial ;
}


 .btn{
    background-color:#1A222D ;
    color: white;
    font-weight: 100 !important;
    box-shadow: none;
    text-align: right;
    }
 .btn:hover{
    background-color: #4A5769;

}
i{
  margin: 0.5rem !important;
  margin-left: 1rem !important;
}
.btn{
      font-family: Heebo, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
font-size: .875rem;
    }
