
 <!-- <h5 class="text-start p2">time line</h5>-->
  <div class="col-12">

    <p-timeline [value]="userTasks" align="right" styleClass="customized-timeline">
      <ng-template pTemplate="marker" let-event>
        <span class="custom-marker shadow-2" style="background-color: rgb(226 232 240)">

        </span>
      </ng-template>
      <ng-template pTemplate="content" let-event>
  <div class="col-12  text-start ">
   <!-- <small class="text-muted">{{ event.due_date | date:'M/d/yy'}}</small>-->
    <small class="text-muted">{{ event.due_date | date:'H:mm '}}</small>
  </div>
        <div class="card m-2 timeline-card">
          <div class="row p-2">
            <h6 class="col-8 ">{{event.name}}</h6>

          </div>
          <div class="row p-2">
            <div class="col-9">
              <div *ngFor="let i of labelList" class="tag">
                <p-tag *ngIf="event.labels.includes(i.id)" styleClass="mr-2" [style]="{'background-color': i.color}"
                  value={{i.name}}></p-tag>
              </div>
            </div>
            <div class="col-3 text-start  ">
                <p-tag icon="pi pi-clock" *ngIf="event.completed==null" styleClass="mr-2"
                  [style]="{'background-color':'#FFEFDF','color':'#A16051' }"></p-tag>
                <p-tag icon="pi pi-check" *ngIf="event.completed==true" styleClass="mr-2"
                  [style]="{'background-color':'#DCF7EE','color':'#41695F' }"></p-tag>
<!--not works-->
              <p-tag icon="pi pi-times" *ngIf="event.completed===false &&  currentDate > event.due_date" styleClass="mr-2"
                [style]="{'background-color':'#FFEFDF','color':'#A16051' }"></p-tag>
         <p-tag icon="pi pi-times"  *ngIf="event.completed===false && event.due_date > currentDate" styleClass="mr-2"
                  [style]="{'background-color':'#FAE9F4','color':'#A05777' }"></p-tag>



            </div>
          </div>



        </div>
      </ng-template>
    </p-timeline>
  </div>

<!--<div class="card">
  <h5>Customized</h5>
  <p-timeline [value]="events1" align="alternate" styleClass="customized-timeline">
    <ng-template pTemplate="marker" let-event>
      <span class="custom-marker shadow-2" [style.backgroundColor]="event.color">
        <i [ngClass]="event.icon"></i>
      </span>
    </ng-template>
    <ng-template pTemplate="content" let-event>
      <p-card [header]="event.status" [subheader]="event.date">
        <img *ngIf="event.image" [src]="'assets/showcase/images/demo/product/' + event.image" [alt]="event.name"
          width="200" class="shadow-2" />
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
          numquam deserunt
          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!</p>
        <button pButton label="Read more" class="p-button-text"></button>
      </p-card>
    </ng-template>
  </p-timeline>
</div>
-->
