.custom-marker {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
  z-index: 1;
}

:host ::ng-deep .p-timeline-event-opposite {
  flex: none;
}

/**/
.tag {
  display: inline-block;
  margin: 1px;
}
:host ::ng-deep.p-tag-value {
  filter: invert(0.9);
  mix-blend-mode: color-burn;
}
small{
      font-size: .875rem;
        line-height: 1.25rem;
}
