/* You can add global styles to this file, and also import other style files */
*{
    direction: rtl;
    text-align: right !important;
}
.row{
    padding: 0;
}
/*background:linear-gradient(248.83deg, #33264e 40%, #4b4d95 90.05%)ף*/


.p-calendar {
  direction: ltr !important;
}
/*toast*/

.p-toast .p-toast-message .p-toast-message-content{
  padding: 0.3rem !important;
}
.p-toast .p-toast-message  {
  color: #495057 !important;
      background: rgb(255, 255, 255) !important;
}
.p-toast-icon-close{
color: #495057 !important;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon{
font-size: 1.3rem !important;
      margin: 0.8rem;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-summary{
  margin-top:0.8rem ;
}

*{
  font-family: ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}
/* sort table icon*/
.p-sortable-column-icon.pi-sort-alt{
  color: transparent !important;
   /* transition: all 0.5s;*/
}
.p-sortable-column:hover .p-sortable-column-icon.pi-sort-alt {
  color: #8090a0 !important;
}
p-sortIcon {
  float: inline-end;
}
.p-datatable .p-sortable-column:not(.p-highlight):hover{
  background: #f8f9fa !important
}
/* /sort table icon*/
.pi{
  font-weight: 700 !important;
}
/*confirmdialog*/
.p-dialog.p-confirm-dialog .p-confirm-dialog-icon {
  margin: 1rem;
  font-size: 1rem !important;
}
.p-dialog.p-confirm-dialog .p-confirm-dialog-icon.pi-trash {
    padding: 0.5rem;
      color: #DC2626;
      border-radius: 0.375rem;
      background-color: #FEE2E2;
}
.p-dialog .p-dialog-footer{
  text-align:  left !important;
}
