.infoCard {
  height: auto;

}

/* background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);*/
i {
  /* color: #1A222D;*/
  filter: invert(0.9);
  mix-blend-mode: color-burn;
}
