<div class="row mt-3"> <div class="card-group info-card col-11 mx-auto">
    <div *ngFor="let item of infoCard" class="col-md-3 col-6 card rounded-3 m-2 shadow infoCard">
      <div class="card-body p-3 ">
        <div class="row col-12 p-1">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize font-weight-bold">{{ item.text }}</p>
              <h5 class="font-weight-bolder mb-0">
                {{ item.data }}
                <!--<span class="text-success text-sm font-weight-bolder">+5%</span>-->
              </h5>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape shadow text-center border-radius-md" [style.background-color]=item.color  >
              <i class="pi {{ item.icon }} text-lg opacity-10"  aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
